<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <title>梅村高中2024届四班蹭饭图</title>
</head>
<body style='margin: 0'>
<div id='map' style='width:100vw;height: 100vh;'></div>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<script src='/js/highmaps.js'></script>
<script src='/js/drilldown.js'></script>
<script src='/js/nunjucks.min.js'></script>

<script src='/js/china.js'></script>
<script src='/js/zhejiang.js'></script>
<script src='/js/beijing.js'></script>
<script src='/js/jiangsu.js'></script>
<script src='/js/neimenggu.js'></script>
<script src='/js/guangdong.js'></script>
<script src='/js/tianjin.js'></script>
<script src='/js/hebei.js'></script>
<script src='/js/shanxi.js'></script>
<script src='/js/liaoning.js'></script>
<script src='/js/jilin.js'></script>
<script src='/js/heilongjiang.js'></script>
<script src='/js/shanghai.js'></script>
<script src='/js/anhui.js'></script>
<script src='/js/fujian.js'></script>
<script src='/js/jiangxi.js'></script>
<script src='/js/shandong.js'></script>
<script src='/js/henan.js'></script>
<script src='/js/hubei.js'></script>
<script src='/js/hunan.js'></script>
<script src='/js/guangxi.js'></script>
<script src='/js/hainan.js'></script>
<script src='/js/chongqing.js'></script>
<script src='/js/sichuan.js'></script>
<script src='/js/guizhou.js'></script>
<script src='/js/yunnan.js'></script>
<script src='/js/xizang.js'></script>
<script src='/js/shanxi2.js'></script>
<script src='/js/gansu.js'></script>
<script src='/js/qinghai.js'></script>
<script src='/js/ningxia.js'></script>
<script src='/js/xinjiang.js'></script>
<script>
    let students = [
        {name: '钱辰威', city: '镇江', province: '江苏', school: '江苏大学'},
        {name: '王豪励', city: '南京', province: '江苏', school: '河海大学'},
        {name: '张聪毅', city: '西安', province: '陕西', school: '西安交通大学'},
        {name: '王欢榆', city: '南京', province: '江苏', school: '南京邮电大学'},
        {name: '吕佳妮', city: '南京', province: '江苏', school: '南京理工大学'},
        {name: '叶志奇', city: '长春', province: '吉林', school: '吉林大学'},
        {name: '孙妙晗', city: '南京', province: '江苏', school: '南京医科大学'},
        {name: '陈逸轩', city: '南京', province: '江苏', school: '南京医科大学'},
        {name: '王周瑾', city: '南京', province: '江苏', school: '南京医科大学'},
        {name: '郭雨宸', city: '南京', province: '江苏', school: '南京医科大学'},
        {name: '王一', city: '长沙', province: '湖南', school: '湖南师范大学'},
        {name: '王涛', city: '南京', province: '江苏', school: '南京信息工程大学'},
        {name: '程紫阳', city: '南京', province: '江苏', school: '南京信息工程大学'},
        {name: '江岳', city: '南京', province: '江苏', school: '南京信息工程大学'},
        {name: '朱一旻', city: '南京', province: '江苏', school: '南京信息工程大学'},
        {name: '朱星宇', city: '南京', province: '江苏', school: '南京信息工程大学'},
        {name: '续思博', city: '南京', province: '江苏', school: '南京信息工程大学'},
        {name: '邱雨辰', city: '南京', province: '江苏', school: '南京信息工程大学'},
        {name: '邱梦馨', city: '无锡', province: '江苏', school: '江南大学'},
        {name: '洪文天', city: '徐州', province: '江苏', school: '中国矿业大学'},
        {name: '陈姵蓉', city: '南京', province: '江苏', school: '南京师范大学'},
        {name: '沈波', city: '克拉玛依', province: '新疆', school: '中国石油大学（克拉玛依校区）'},
        {name: '王子安', city: '长春', province: '吉林', school: '吉林大学'},
        {name: '秦子尧', city: '南通', province: '江苏', school: '南通大学'},
        {name: '苏小备', city: '南京', province: '江苏', school: '南京工程学院'},
        {name: '何岦键', city: '苏州', province: '江苏', school: '苏州大学'},
        {name: '周宜慷', city: '扬州', province: '江苏', school: '扬州大学'},
        {name: '平晟睿', city: '南京', province: '江苏', school: '南京林业大学'},
        {name: '孙万里', city: '苏州', province: '江苏', school: '苏州大学'},
        {name: '汪芯鹏', city: '吉林', province: '吉林', school: '东北电力大学'},
        {name: '王子隽', city: '南京', province: '江苏', school: '南京邮电大学'},
        {name: '王铭绅', city: '苏州', province: '江苏', school: '苏州大学'},
        {name: '沈子南', city: '扬州', province: '江苏', school: '扬州大学'},
        {name: '王灿', city: '南京', province: '江苏', school: '南京林业大学'},
        {name: '邹加成', city: '苏州', province: '江苏', school: '苏州大学'},
        {name: '季名宇', city: '南京', province: '江苏', school: '南京中医药大学'},
        {name: '浦文浩', city: '镇江', province: '江苏', school: '江苏科技大学'},
        {name: '赵子昂', city: '徐州', province: '江苏', school: '中国矿业大学'},
        {name: '陈宇', city: '南京', province: '江苏', school: '南京林业大学'},
        {name: '王奕程', city: '镇江', province: '江苏', school: '江苏大学'},
        {name: '浦晨恩', city: '盐城', province: '江苏', school: '盐城师范学院'},
        {name: '吴宜康', city: '南京', province: '江苏', school: '南京审计大学'},
        {name: '郑允淇', city: '常州', province: '江苏', school: '常州大学'},
        {name: '陈峥嵘', city: '南通', province: '江苏', school: '南通大学'},
        {name: '叶梓乐', city: '南京', province: '江苏', school: '南京工业大学'},
        {name: '江明洋', city: '徐州', province: '江苏', school: '江苏师范大学'},
        {name: '于莘然', city: '桂林', province: '广西', school: '桂林理工大学'},
        {name: '蒋信宇', city: '镇江', province: '江苏', school: '江苏大学'},
        

    ];

    let data = Highcharts.geojson(Highcharts.maps['cn/china']);

    let provinces = {};
    Highcharts.each(data, function (d) {
        provinces[d.name] = d;
        d.drilldown = d.name;
        d.value = 0;
        d.cities = {};
        d.people = [];
    });

    for (let s of students) {
        provinces[s.province].value++;
        provinces[s.province].people.push(s)
    }

    for (let p of Object.values(provinces)) {
        let filename = p.properties.filename;
        if (!Highcharts.maps[`cn/${filename}`]) {
            continue
        }
        let subData = p.subData = Highcharts.geojson(Highcharts.maps[`cn/${filename}`]);
        Highcharts.each(subData, function (city) {
            p.cities[city.name] = city;
            city.value = 0;
            city.people = [];
        });
        for (let s of students) {
            if (p.cities[s.city] !== undefined) {
                p.cities[s.city].value++;
                p.cities[s.city].people.push(s);
            }
        }
    }

    function makeSeries() {
        let series = [];
        for (let p of Object.values(provinces)) {
            if (p.subData) {
                series.push({
                    id: p.name,
                    name: p.name,
                    data: p.subData,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                })
            }
        }
        return series;
    }

    function formatter() {
        let template = `
        <div class="tooltip">
            <div class="series">{{series}}</div>
            <div class="profile">
                <div class="name">{{name}}:</div>
                <div class="value">{{value}}人</div>
            </div>
            {% if name !== '浙江' %}
            <div class="list">
                {% for p in people %}
                <div class="pinfo">
                    <div class="pname">{{p.name}}</div>
                    <div class="city">{{p.city}}</div>
                    <div class="school">{{p.school}}</div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        `;

        return nunjucks.renderString(template, {
            name: this.point.name,
            series: this.series.name,
            value: this.point.value,
            people: this.point.people
        });
    }

    // 初始化图表
    let map = new Highcharts.Map('map', {
            chart: {
                events: {
                    drilldown: function (e) {
                        let name = e.point.name;
                        this.setTitle(null, {text: name});
                    },
                    drillup: function () {
                        data = Highcharts.maps['cn/china'];
                        this.setTitle(null, {
                            text: '中国'
                        });
                    }
                }
            },

            title: {
                text: '梅村高中2024届四班蹭饭图',
                style: {"color": "#333333", "fontSize": "24px"}
            },

            subtitle: {
                text: '中国',
                floating: true,
                y: 50,
                style: {
                    fontSize: '16px'
                }
            },

            tooltip: {
                useHTML: true,
                backgroundColor: '#357fee',
                borderRadius: 5,
                padding: 12,
                style: {
                    'color': '#dddddd',
                    'cursor': 'default',
                    'fontSize': '14px',
                    'pointerEvents': 'none',
                    'whiteSpace': 'nowrap'
                },
                formatter: formatter
            },

            colorAxis: {
                min: 0,
                max: 50,
                type: 'linear',
                minColor: '#ffffff',
                maxColor: '#006cee',
                stops: [
                    [0, '#ffffff'],
                    [0.02, '#a4d9ee'],
                    [0.04, '#7ebaee'],
                    [0.1, '#357fee'],
                    [0.5, '#0c70ee'],
                    [1, '#006cee']
                ]
            },

            series: [{
                data: data,
                name: '各省人数',
                joinBy: 'name',
                tooltip: {
                    pointFormat: `{point.name}: {point.value}`
                }
            }],

            drilldown:
                {
                    activeDataLabelStyle: {
                        color: '#FFFFFF',
                        textDecoration:
                            'none',
                        textShadow:
                            '0 0 3px #000000'
                    }
                    ,
                    drillUpButton: {
                        relativeTo: 'spacingBox',
                        position:
                            {
                                x: 0,
                                y:
                                    60
                            }
                    }
                    ,
                    series: makeSeries()
                }
            ,

            mapNavigation: {
                enabled: true,
                buttonOptions:
                    {
                        verticalAlign: 'bottom'
                    }
            }
        })
    ;
</script>

</body>
</html>
